html, body{
  margin: 0;
  padding: 0;

  font-size: 16px;
  color: #fff;

  font-family: 'Montserrat', sans-serif;
}
* p {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}



.intro{
  width: 100%;
  height: 100vh;

  background: linear-gradient(180deg, #242B33 10.98%, 
  rgba(45, 52, 60, 0.38) 55.04%, #242B33 92.19%),  url("../img/bg.png") center no-repeat;
  -webkit-background: cover;
  background: cover;
}

.container{
  max-width: 100%;
  width: 1120px;
  margin: 0 auto;
}

.header{
  padding: 35px 15px 0px 15px;
}

.header__inner{
  display: flex;
  justify-content: space-between;
}

.burger--active{
  display: none;
}

.burger{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
}
.burger span, .burger span:before, .burger span:after{
  width: 100%;
  position: absolute;
  height: 10px;
  background: rgb(255, 255, 255);
  display: block;
  transition: .3s;
  border-radius: 5px;
}
.burger span:before{
  content: "";
  top: -20px;
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger span{
  top: 20px;
}
.burger span:after{
  content: "";
  bottom: -20px;
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}


.burger span.active:before{
  content: "";
  top: 0px;
  transform: rotate(45deg);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger span.active:after{
  content: "";
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger span.active{
  background: rgba(255, 255, 255, 0); 
}



.menu{
  width: 300px;
  height: auto;
  background: #333;
  color: #ccc;
  padding: 10px;
  position: fixed;
  left: -320px;
  transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu.animate{
  left: 0;
}

.nav{
  display: flex;
  align-items: center;
}

.nav__link{
  color: #fff;
  text-decoration: none;

  padding: 0 24px;
}

.nav__link:last-child{
  padding-right: 0;
}

.nav__link:hover{
  color: #D4C17F;
}

.logo__title{
  font-size: 36px;
}

.logo__txt{
  text-align: center;
}

.section{
  max-width: 100%;
  width: 800px;
  margin: 0 auto;
}

.section--intro{
  max-width: 100%;
  width: 630px;

  margin: auto;
  margin-top: 273px;
}

.intro__window{
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__title{
  text-align: center;
  
  font-size: 48px;

  color: #D4C17F;
}


.intro__img{
  padding-top: 100px;

  width: 40px;
  height: 40px;
}

.intro__row{
  display: flex;
  justify-content: space-between;
}

.intro__suptitle{
  display: flex;
}

.intro__text{
  padding-left: 10px;
}

.fa-phone{
  transform: rotate(90deg);
}

.main{
  background: #242B33;
}

.section--advantages{
  padding: 80px 0 150px 0;
}

.advantages__column{
  display: flex;
  flex-direction: row;
}

.advantages{
  display: flex;
}

.advantages__item{
  width: 200px;

  text-align: center;
}

.advantages__txt{
  font-weight: 300;
  font-size: 20px;
}

.apartaments{
  margin: 100px 0;
}

.apartaments__title{
  color: #D4C17F;

  padding: 0px 0px 50px 15px;
}

.apartaments__column{
  display: flex;
  justify-content: space-around;

  position: relative;
}

.loft__item{
  opacity: .9;
}

.loft__item:hover{
  opacity: .4;
}

.apartaments__link{
  text-decoration: none;
}

.loft__item{
  max-width: 100%;
}

.loft__item--2{
  max-width: 100%;
  padding: 0px 0px 0px 0px;
}

.apartaments__txt{
  max-width: 155px;

  font-weight: 300;
  font-size: 24px;

  position: relative;

  bottom: 100px;
  left: 50px;

  color: #fff;
}

.content{
  padding: 150px 0;
  margin: 50px 0;

  background: linear-gradient(180deg, #242B33 10.42%, 
  rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), 
  linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), 
  url("../img/features.png") center no-repeat, #C4C4C4;
}

.content__column{
  padding-right: 75px;
}

.content__column--2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content__title{
  color: #D4C17F;
  font-size: 36px;
  font-weight: 700;
}

.content__txt{
  padding-top: 25px;

  font-weight: 400;
  line-height: 24px;
}

.content__txt--2{
  font-size: 13px;
}

.content__row{
  display: flex;
}

.content__input{
  display: flex;
}

.content__suptitle{
  display: flex;
  align-items: center;
}

.content__txt--2{
  width: 241px;
  text-align: center;
  padding-right: 30px;
}

.input__style{
  width: 185px;
  text-align: center;

  border: 25px solid #fff;

  opacity: 0.25;
  
  margin: 0 10px 20px 0;
}

.content__button{
  width: 240px;
  height: 60px;
  background: #D4C17F;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  color: #fff;

  margin: 20px 0 0 0;
}


.video{
  margin: 75px 0;
}

.video__img{
  width: 100%;
}

.video__container{
  max-width: 100%;
  width: 700px;
  margin: 0 auto;
}


.play{
  position: relative;
  bottom: 370px;
  left: 315px;
  cursor: pointer;
}

.video__img:hover{
  opacity: .5;
}

.map__title{
  font-size: 36px;
  font-weight: 700;

  color: #D4C17F;
}

.map__img{
  background: #626262;

  margin-top: 75px;

  height: 358px;
}

.map__cont{
  max-width: 1100px;
}
.faq{
  padding: 200px 0;
}

.faq__title{
  font-size: 36px;
  font-weight: 700;

  color: #D4C17F;

  padding-bottom: 35px;
}

.faq__column{
  display: flex;
}

.faq__txt{
  width: 250px;
  font-size: 13px;
  text-align: center;

  padding: 0 20px 20px 0;
}

.faq__input{
  display: flex;
}

.faq__style{
  width: 185px;
  text-align: center;

  border: 25px solid #fff;

  margin-right: 25px;

  opacity: 0.25;
  text-decoration: underline;
}
.faq__button{
  width: 240px;
  height: 67px;
  background: #D4C17F;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  color: #fff;
}

.footer{
  background: #2D343C;

  padding: 50px 0;
}

.footer__flex{
  display: flex;
  justify-content: space-between;
}

.footer__logo{
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;

  padding-top: 30px;
}

.footer__title{
  font-size: 36px;
}
.footer__txt{
  font-size: 12px;
}

.footer__list{
  display: flex;
}

.footer__li{
  margin-top: 15px;
}

.footer__row{
  margin-right: 100px;
  padding-inline-start: 0;
  list-style-type: none;
}

.footer__row--2{
  padding-inline-start: 0;
  list-style-type: none;
}

.footer__link{

  font-size: 14px;
  font-weight: 300;

  color: #fff;
  text-decoration: none;
}

.footer__link:hover{
  text-decoration: underline;
}

.footer__adress{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;    
}

.footer__ico{
  display: flex;
  justify-content: space-evenly;
}

.fab {
  color: #fff;
}


.footer__link:hover{
  text-decoration: underline;
}

.footer__adress{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;    
}

.footer__ico{
  display: flex;
  justify-content: space-evenly;
}

.fab {
  color: #fff;
}

/* Adaptive */

.adapt{
  padding: 0 20px;
  background-color: #242b33;
}

@media (max-width: 1130px) {
  .apartaments__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .apartaments__title {
    text-align: center;
  }

  .content__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .content__column {
    text-align: center;
  }

  .content__suptitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .content__input {
    margin: 20px 0 0 0;
  }

  .faq__title {
    text-align: center;
  }

  .faq__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__ico {
    margin: 20px 0 0 0;
  }
}
@media (max-width: 862px) {
  .advantages:last-child {
    padding: 50px 0 0 0;
  }

  .apartaments {
    margin: 0;
  }

  .nav {
    display: none;
  }

  .advantages__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .faq__txt{
      width: auto;
  }

  
  .nav--active{
    padding: 0 60px;
  }

  .burger--active{
    display: block;
  }
}

@media (max-width: 500px) {


  .intro__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section--intro {
      margin-top: 150px;
    }

  .faq__input {
      padding-left: 10px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
  }

  .faq{
    padding: 100px 0;
  }

  .intro__title{
    font-size: 36px;
  }

  .intro__row{
    padding-top: 25px;
  }

  .content{
    padding: 25px 0;
    margin: 25px 0;
  }

  .content__txt{
    font-size: 18px;
  }

  .content__input{
    flex-direction: column;
    align-items: center;
  }

  .advantages{
    flex-direction: column;
  }

  .play{
    bottom: 210px;
    left: 115px;
  }

  .content__column {
    padding-right: 0;
  }

  .advantages__item:first-child{
    padding-bottom: 25px;
  }
  
  .footer__list{
    padding: 0 25px;
  }
}